# vim:ft=systemd:
# man:systemd.unit(5)
# man:systemd.service(5)
# file:$XDG_CONFIG_HOME/systemd/user/foot-server.service
#==============================================================================#


[Unit]
Documentation=man:foot(1)

PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/foot -s %t/foot-${WAYLAND_DISPLAY}.sock

NonBlocking=true

UnsetEnvironment=LISTEN_PID LISTEN_FDS LISTEN_FDNAMES

[Install]
WantedBy=graphical-session.target


#==============================================================================#
#                                 END OF FILE                                  #
#==============================================================================#
