# vim:ft=systemd:
# man:systemd.unit(5)
# man:systemd.service(5)
# file:$XDG_CONFIG_HOME/systemd/user/pcmanfm-daemon.service
#==============================================================================#


[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/pcmanfm -d

Restart=on-failure

Environment=XDG_CURRENT_DESKTOP=LXDE
Environment=XDG_MENU_PREFIX=lxde-

[Install]
WantedBy=graphical-session.target


#==============================================================================#
#                                 END OF FILE                                  #
#==============================================================================#
