# vim:ft=systemd:
# man:systemd.unit(5)
# man:systemd.service(5)
# file:$XDG_CONFIG_HOME/systemd/user/polkit-gnome.service
#==============================================================================#


[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

Slice=session.slice
Restart=on-failure

[Install]
WantedBy=graphical-session.target


#==============================================================================#
#                                 END OF FILE                                  #
#==============================================================================#
