# vim:ft=systemd:
# man:systemd.unit(5)
# man:systemd.service(5)
# file:$XDG_CONFIG_HOME/systemd/user/udiskie.service
#==============================================================================#


[Unit]
Documentation=man:udiskie(8)

PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie

Restart=on-failure

[Install]
WantedBy=graphical-session.target


#==============================================================================#
#                                 END OF FILE                                  #
#==============================================================================#
