# vim:ft=systemd:
# man:systemd.unit(5)
# man:systemd.service(5)
# file:$XDG_CONFIG_HOME/systemd/user/udiskie.service
#==============================================================================#


[Unit]
Description=Device daemon
Documentation=man:udiskie(8)

PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/udiskie

Restart=on-failure

LockPersonality=true
NoNewPrivileges=true
ProcSubset=pid
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native

[Install]
WantedBy=graphical-session-pre.target


#==============================================================================#
#                                 END OF FILE                                  #
#==============================================================================#
