*
!/.bash_profile
!/.bashenv
!/.bashrc
!/.config
!/.config/dircolors.conf
!/.config/environment.d
!/.config/environment.d/**
!/.config/nvim
!/.config/nvim/**
/.config/nvim/spell
!/.curlrc
!/.gitignore
!/.infokey
!/.inputrc
!/.local
!/.local/bin
!/.local/bin/**
!/.ssh
!/.ssh/config
!/.wgetrc
!/.zprofile
!/.zshenv
!/.zshrc.local
!/.zshrc.pre
