*
!/.XCompose
!/.Xdefaults
!/.Xresources
!/.bash_profile
!/.bashenv
!/.bashrc
!/.config
!/.config/Kvantum
!/.config/Kvantum/**
!/.config/aerc
!/.config/aerc/**
!/.config/alacritty
!/.config/alacritty/**
!/.config/aria2
!/.config/aria2/**
!/.config/bwrapify
!/.config/bwrapify/**
!/.config/cage
!/.config/cage/**
!/.config/conway-screensaver
!/.config/conway-screensaver/**
!/.config/dconf
!/.config/dconf/user.conf
!/.config/dircolors.conf
!/.config/dunst
!/.config/dunst/**
!/.config/environment.d
!/.config/environment.d/**
!/.config/fastfetch
!/.config/fastfetch/**
!/.config/fontconfig
!/.config/fontconfig/**
!/.config/foot
!/.config/foot/**
!/.config/foot/**
!/.config/git
!/.config/git/**
!/.config/gtk-3.0
!/.config/gtk-3.0/**
!/.config/gtk-4.0
!/.config/gtk-4.0/**
!/.config/imv
!/.config/imv/**
!/.config/locale.conf
!/.config/mako
!/.config/mako/**
!/.config/mpv
!/.config/mpv/**
!/.config/msmtp
!/.config/msmtp/**
!/.config/ncspot
!/.config/ncspot/config.toml
!/.config/newsboat
!/.config/newsboat/config
!/.config/niri
!/.config/niri/**
!/.config/notmuch
!/.config/notmuch/**
!/.config/nvim
!/.config/nvim/**
!/.config/openbox
!/.config/openbox/**
!/.config/pcmanfm
!/.config/pcmanfm/**
!/.config/picom.conf
!/.config/polybar
!/.config/polybar/**
!/.config/qt5ct
!/.config/qt5ct/**
!/.config/qt6ct
!/.config/qt6ct/**
!/.config/sdrunify
!/.config/sdrunify/**
!/.config/spotifyd
!/.config/spotifyd/spotifyd.conf
!/.config/stig
!/.config/stig/**
!/.config/sway
!/.config/sway/**
!/.config/swayimg
!/.config/swayimg/**
!/.config/swaylock
!/.config/swaylock/**
!/.config/swaynag
!/.config/swaynag/**
!/.config/systemd
!/.config/systemd/user
!/.config/systemd/user/**
!/.config/tmux
!/.config/tmux/**
!/.config/udiskie
!/.config/udiskie/**
!/.config/vim
!/.config/vim/**
!/.config/waybar
!/.config/waybar/**
!/.config/wm
!/.config/wm/**
!/.config/xfce4
!/.config/xfce4/xfconf
!/.config/xfce4/xfconf/xfce-perchannel-xml
!/.config/xfce4/xfconf/xfce-perchannel-xml/**
!/.config/xsettingsd
!/.config/xsettingsd/xsettingsd.conf
!/.curlrc
!/.gitattributes
!/.gitignore
!/.gnupg
!/.gnupg/exec
!/.gnupg/exec/pinentry
!/.gnupg/gpg-agent.conf
!/.gnupg/gpg.conf
!/.gtkrc-2.0
!/.infokey
!/.inputrc
!/.local
!/.local/bin
!/.local/bin/**
!/.local/lib
!/.local/lib/**
!/.local/share
!/.local/share/mc
!/.local/share/mc/skins
!/.local/share/mc/skins/**
!/.local/share/themes
!/.local/share/themes/**
!/.mbsyncrc
!/.ssh
!/.ssh/config
!/.wgetrc
!/.zprofile
!/.zshenv
!/.zshrc.local
!/.zshrc.pre
