*
!/.bash_profile
!/.bashenv
!/.bashrc
!/.config
!/.config/dircolors.conf
!/.config/environment.d
!/.config/environment.d/**
!/.config/locale.conf
!/.config/nvim
!/.config/nvim/**
!/.config/systemd
!/.config/systemd/user
!/.config/systemd/user/**
!/.config/tmux
!/.config/tmux/**
!/.config/vim
!/.config/vim/**
!/.curlrc
!/.gitignore
!/.infokey
!/.inputrc
!/.local
!/.local/bin
!/.local/bin/**
!/.ssh
!/.ssh/config
!/.wgetrc
!/.zprofile
!/.zshenv
!/.zshrc.local
!/.zshrc.pre
